
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing:  0.4rem ;
  padding: 5px 10px;
  margin: 0;
  font-weight: 700;
  text-shadow:  0 0 1rem rgba(7, 237, 245, 0.514)
  
}
.info{
  width: 300px;
  height: 70px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin-top: 30px;
  border:dashed 1px #ccc;
}
.info p {
  font-style: italic;
}

.mat-toolbar {
  height: 100%;

}
