.logo-container {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}
.logo-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  height: 100%;
}
